#container {
  background: radial-gradient(
    circle,
    rgba(35, 42, 52, 1) 0%,
    rgba(24, 30, 39, 1) 100%
  );
  width: 100%;
  padding: 2.5em;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 400px) {
  #container {
    padding: 1.5em;
  }
}

#img-container {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--dark-blue);
  width: 50px;
  margin-bottom: 1.5em;
  text-align: center;
  aspect-ratio: 1/1;
}

h1 {
  font-family: "Overpass";
  font-weight: 700;
  color: var(--white);
  margin-bottom: 0.5em;
}

p {
  font-family: "Overpass";
  font-weight: 400;
  color: var(--light-grey);
  margin-bottom: 1.25em;
}

#ratings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25em;
}

input[type="radio"] {
  display: none;
}

label {
  font-family: "Overpass";
  font-weight: 400;
  border-radius: 50%;
  background-color: var(--dark-blue);
  color: var(--medium-grey);
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.5px;
  margin: 0 0.25em;
}

label:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

input[type="submit"] {
  font-family: "Overpass";
  font-weight: 400;
  width: 100%;
  background: var(--orange);
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 0.5rem;
  cursor: pointer;
  letter-spacing: 1.5px;
  font-variant: small-caps;
  font-size: 1.25rem;
}

input[type="submit"]:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

.selected {
  background-color: var(--medium-grey);
  color: var(--white);
}
